@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded-lg;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-primary-500 rounded-lg;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-600;
  }
}





